<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.product_name %>
</p>

<p>
	<strong>Category:</strong>
  	<%= @product.product_category %>
</p>

<p>
	<strong>Type:</strong>
  	<%= @product.category_code %>
</p>

<p>
	<strong>Brand:</strong>
  	<%= @product.brand %>
</p>

<p>
    <%= image_tag(@product.image_url, height: "500", width: "500") %> 
</p>

<form action="/shopping_cart" method="post">
  <button type="submit">Add to Shopping Cart</button>
  <input type="hidden" value="<%= @product.id %>" name="id">
</form>
<br>
<!--<form action="/stores" method="post">
  <button type="submit">Buy</button>
  <input type="hidden" value="<%= @product.id %>" name="id">
</form> ---->

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
	<strong>Rating:</strong>
  	<%= @product.rating %>
</p>


<%= link_to 'Back', products_path %>

