    <link 
    rel="stylesheet" 
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""
    />
      
    <script
    src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
    </script>

<%= form_with(model: shipping_detail, url: shipping_detail_path,local: true) do |form| %>
  <% if shipping_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipping_detail.errors.count, "error") %> prohibited this shipping detail from being saved:</h2>

      <ul>
        <% shipping_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class = "container">
    
    <div class = "row">       

      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, required: true %>
      </div>

      <div class="field">
        <%= form.label :country %>
        <%= form.text_area :country, required: true %>
      </div>

      <div class="field">
        <%= form.label :postal_code %>
        <%= form.text_field :postal_code, required: true %>
      </div>

      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone, required: true %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>

    </div>
</div>


<h3>You can check the live location of your selected store by refreshing this page for confirmation</h3>
